#no-mobile{
    position:absolute;
    background-color: var(--yellow);
    width: 100vw;
    height: 100vh;
    top:0;
    font-size: 20px;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media  screen and (max-width: 650px){
    #no-mobile{
        display: none;
    }
}